In [102]:
import pandas as pd 
import numpy as np

In [103]:
df1=pd.read_csv('C:\\Machine Project\\dataset\\tmdb_6000_movie_dataset.csv')
df2=pd.read_csv('C:\\Machine Project\\dataset\\tmdb_6000_movie_credits.csv')

In [104]:
print(df1.shape)
df1.head(2)

(5798, 21)

,Unnamed: 0,budget,genres,homepage,tmdbId,keywords,original_language,original_title,overview,popularity,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{'id': 1463, 'name': 'culture clash'}, {'id':...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{'id': 270, 'name': 'ocean'}, {'id': 726, 'na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [105]:
df1.columns

Index(['Unnamed: 0', 'budget', 'genres', 'homepage', 'tmdbId', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count'],
      dtype='object')

In [106]:
df1 = df1.drop(columns=['Unnamed: 0','budget','homepage','original_title','production_companies','production_countries','revenue','spoken_languages','status','tagline'])
print(df1.shape)
df1.head(2)

(5798, 11)

,genres,tmdbId,keywords,original_language,overview,popularity,release_date,runtime,title,vote_average,vote_count
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{'id': 1463, 'name': 'culture clash'}, {'id':...",en,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,162.0,Avatar,7.2,11800
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{'id': 270, 'name': 'ocean'}, {'id': 726, 'na...",en,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,169.0,Pirates of the Caribbean: At World's End,6.9,4500

In [107]:
# Check for missing values
missing_values = df1.isnull().any()

# Check for duplicates
duplicates = df1.duplicated().any()

# Print the results
print("Missing Values:")
print(missing_values)
print("\nDuplicates:")
print(duplicates)

Missing Values:
genres               False
tmdbId               False
keywords             False
original_language    False
overview              True
popularity           False
release_date          True
runtime               True
title                False
vote_average         False
vote_count           False
dtype: bool

Duplicates:
False

In [108]:
print(df1['release_date'].isnull().sum())
print(df1['runtime'].isnull().sum())

df1.dropna(subset=['release_date', 'runtime'], inplace=True)

1
2

In [109]:
#fill missing values with a default description
df1['overview'] = df1['overview'].fillna('No overview available')
# Count missing values in the 'overview' column
overview_missing_count = df1['overview'].isnull().sum()

# Print the count of missing values in the 'overview' column
print("Count of missing values in the 'overview' column:", overview_missing_count)

Count of missing values in the 'overview' column: 0

In [110]:
# Check for missing values
missing_values = df1.isnull().any()

# Check for duplicates
duplicates = df1.duplicated().any()

# Print the results
print("Missing Values:")
print(missing_values)
print("\nDuplicates:")
print(duplicates)

Missing Values:
genres               False
tmdbId               False
keywords             False
original_language    False
overview             False
popularity           False
release_date         False
runtime              False
title                False
vote_average         False
vote_count           False
dtype: bool

Duplicates:
False

In [111]:
print(df2.shape)
df2.head(2)

(5798, 4)

,Unnamed: 0,tmdbId,cast,crew
0,0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,1,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [112]:
df2 = df2.drop(columns=['Unnamed: 0'])
print(df2.shape)
df2.head(2)

(5798, 3)

,tmdbId,cast,crew
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [113]:
# Check for missing values
missing_values = df2.isnull().any()

# Check for duplicates
duplicates = df2.duplicated().any()

# Print the results
print("Missing Values:")
print(missing_values)
print("\nDuplicates:")
print(duplicates)

Missing Values:
tmdbId    False
cast      False
crew      False
dtype: bool

Duplicates:
False

In [114]:
import ast

def transform(obj):
    T = []
    for t in ast.literal_eval(obj):
        t["name"]
        T.append(t["name"])
    return T

In [115]:
df1["genres"] = df1["genres"].apply(transform)

In [116]:
df1["keywords"] = df1["keywords"].apply(transform)

In [117]:
import ast

def transform_3(obj):
    T = []
    counter = 0
    for t in ast.literal_eval(obj):
        if counter != 3:
            T.append(t["name"])
            counter+=1
        else:
            break
    return T

In [118]:
df2["cast"] = df2["cast"].apply(transform_3)

In [119]:
def get_director(obj):
    F = []
    for f in ast.literal_eval(obj):
        if f["job"] == "Director":
            F.append(f["name"])
            break
    return F

In [120]:
df2["crew"] = df2["crew"].apply(get_director)

In [121]:
df1["genres"] = df1["genres"].apply(lambda x:[i.replace(" ","") for i in x])
df1["keywords"] = df1["keywords"].apply(lambda x:[i.replace(" ","") for i in x])
df2["cast"] = df2["cast"].apply(lambda x:[i.replace(" ","") for i in x])
df2["crew"] = df2["crew"].apply(lambda x:[i.replace(" ","") for i in x])

In [122]:
df1 = df1.merge(df2, on='tmdbId')

In [123]:
df1.index.name = 'index'
df1.head(2)

,genres,tmdbId,keywords,original_language,overview,popularity,release_date,runtime,title,vote_average,vote_count,cast,crew
index,,,,,,,,,,,,,
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...",en,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,162.0,Avatar,7.2,11800,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,"[Adventure, Fantasy, Action]",285,"[ocean, drugabuse, exoticisland, eastindiatrad...",en,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,169.0,Pirates of the Caribbean: At World's End,6.9,4500,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]

In [125]:
df1['combined_features'] = df1['genres'] + df1['keywords'] + df1['cast'] + df1['crew']

In [127]:
# Preview the dataframe to ensure the new column is created correctly
df1[['tmdbId', 'title', 'combined_features']].head()

,tmdbId,title,combined_features
index,,,
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,206647,Spectre,"[Action, Adventure, Crime, spy, basedonnovel, ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, dccomics, cri..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, basedonnov..."

In [128]:
new = df1[['tmdbId', 'title', 'combined_features']]
new = new.copy()
new

,tmdbId,title,combined_features
index,,,
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,206647,Spectre,"[Action, Adventure, Crime, spy, basedonnovel, ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, dccomics, cri..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, basedonnov..."
...,...,...,...
5790,626332,Flamin' Hot,"[Comedy, Drama, biography, basedontruestory, j..."
5791,1094319,The Best Man,"[Action, Thriller, BrendanFehr, DolphLundgren,..."
5792,998623,Drone Games,"[Action, Adventure, OrlandoVauthier, AxelGranb..."
5793,1155770,The Pigeon Tunnel,"[Documentary, britishspy, crimefictionwriter, ..."
5794,842544,Transfusion,"[Crime, Action, Drama, lossoflovedone, crimina..."

In [129]:
new["combined_features"] = new["combined_features"].apply(lambda x:" ".join(x))

In [131]:
new["combined_features"]

index
0       Action Adventure Fantasy ScienceFiction cultur...
1       Adventure Fantasy Action ocean drugabuse exoti...
2       Action Adventure Crime spy basedonnovel secret...
3       Action Crime Drama Thriller dccomics crimefigh...
4       Action Adventure ScienceFiction basedonnovel m...
                              ...
5790    Comedy Drama biography basedontruestory janito...
5791    Action Thriller BrendanFehr DolphLundgren Luke...
5792    Action Adventure OrlandoVauthier AxelGranberge...
5793    Documentary britishspy crimefictionwriter John...
5794    Crime Action Drama lossoflovedone criminalunde...
Name: combined_features, Length: 5795, dtype: object

In [135]:
new["combined_features"] =  new["combined_features"].apply(lambda x:x.lower())
new["combined_features"][0]

'action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [136]:
from sklearn.feature_extraction.text import CountVectorizer
import pickle

cv = CountVectorizer(max_features=5795, stop_words='english')
cv_matrix = cv.fit_transform(new["combined_features"])
genre_vectors = cv_matrix.toarray()

genre_vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [137]:
# Train a KNN model on the vectorized data
from sklearn.neighbors import NearestNeighbors

knn = NearestNeighbors()
knn.fit(genre_vectors)

NearestNeighbors()

In [138]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(genre_vectors)
similarity

array([[1.        , 0.11877114, 0.10300524, ..., 0.26261287, 0.        ,
        0.14037248],
       [0.11877114, 1.        , 0.11826248, ..., 0.30151134, 0.        ,
        0.0805823 ],
       [0.10300524, 0.11826248, 1.        , ..., 0.39223227, 0.        ,
        0.20965697],
       ...,
       [0.26261287, 0.30151134, 0.39223227, ..., 1.        , 0.        ,
        0.26726124],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.14037248, 0.0805823 , 0.20965697, ..., 0.26726124, 0.        ,
        1.        ]])

In [141]:
# This is the main movie recommendation function

def recommend(movie):
    movie_index = new[new["title"] == movie].index[0]
    distances, indices = knn.kneighbors(similarity[movie_index].reshape(1, -1), n_neighbors=20)
    indices = indices.flatten()
    
    # get the indices of the recommended movies
    recommended_indices = indices[1:20]
    
    # retrieve the titles of the recommended movies
    recommended_movies = new.iloc[recommended_indices]["title"]
    
    # remove the input movie from the recommended movies list
    recommended_movies = recommended_movies[recommended_movies != movie]
    
    # sort the recommended movies by their distances
    recommended_movies_with_distance = []
    for index, distance in zip(recommended_indices, distances[0][1:20]):
        title = new.iloc[index]["title"]
        recommended_movies_with_distance.append((title, distance))
    recommended_movies_with_distance = sorted(recommended_movies_with_distance, key=lambda x: x[1])
    
    # print the recommended movies
    # print("Recommended movies:")
    for title, distance in recommended_movies_with_distance:
        print(title)

In [142]:
recommend("Avatar")

The Big Swap
Light from the Darkroom
The Algerian
Rick and Morty: The Great Yokai Battle of Akihabara
Death Calls
Harrison Montgomery
UnDivided
Short Cut to Nirvana: Kumbh Mela
Para
Sharkskin
Hum To Mohabbat Karega
An American in Hollywood
The Blood of My Brother: A Story of Death in Iraq
Crowsnest
The Outrageous Sophie Tucker
RSC Live: The Merry Wives of Windsor
Sardaarji
Diamond Ruff
The Little Ponderosa Zoo

In [143]:
# Sort movies by popularity in descending order
popular_movies = df1.sort_values(by='popularity', ascending=False)

# Recommendation function based on popularity
def recommend_popular_movies(n):
    unique_movies = popular_movies.drop_duplicates(subset='title', keep='first')
    # Return the top n unique popular movies
    return unique_movies.head(n)

# Example: Recommend top 10 popular movies
recommendations = recommend_popular_movies(10)
print(recommendations[['tmdbId','title', 'popularity']])

        tmdbId                                          title  popularity
index
5540    299054                                    Expend4bles    4086.981
5541    575264  Mission: Impossible - Dead Reckoning Part One    2568.301
5036    554600                       Uri: The Surgical Strike    2046.834
5542    926393                                The Equalizer 3    1965.688
5543    968051                                     The Nun II    1696.620
5544   1034062              Mortal Kombat Legends: Cage Match    1588.164
5548    862552                              The Ritual Killer    1197.084
5545    678512                               Sound of Freedom    1174.757
5546   1151534                                        Nowhere    1162.627
5547    961268                                      Ballerina    1086.482